<%= form_tag sessions_path, data: { "turbo-frame": "_top" } do |form| %>
  <div class="grid grid-cols-1">
    <%= text_field_tag :username,"", placeholder: "USERNAME", class: "mx-auto text-center input w-full" %>
    <%= password_field_tag :password, "", placeholder: "PASSWORD", class: "mx-auto text-center input w-full" %>
    <div class="mx-auto text-center pt-1">
      <%= submit_tag "Login", class: "button" %>
      <%= link_to signup_path, class: "button", data: { "turbo-frame": "_top" } do %>
        Sign Up
      <% end %>
    </div>
  </div>
<% end %>
