<div class="w-fit border-2 border-white/75 my-5 px-4 pb-4 border-solid mx-auto">
	<% if @message.event_type == "roll" %>
		<div class="w-fit text-center px-4 mx-auto mt-[-18px] bg-stone-800">
			<span class="font-bold"><%= @message.display_name %></span> rolled some dice
		</div>
		<div class="flex flex-wrap justify-center w-full gap-x-3">
			<% @message.event_data.result_dice.each do |die| %>
				<pre class="text-xs"><%= render "/ascii/d#{die.last}", value: die.first %></pre>
			<% end %>
		</div>
		<% unless @message.event_data.modifiers_total.zero? %>
			<div class="w-full text-center mt-2">
				WITH MODIFIER: <span class="font-bold"><%= @message.event_data.modifiers_total.positive? ? "+" : "-" %><%= @message.event_data.modifiers_total %></span>
			</div>
		<% end %>
		<div class="w-full text-center mt-2">
			TOTAL: <span class="font-bold animate-blink"><%= @message.event_data.total %></span>
		</div>
	<% end %>

	<% if @message.event_type == "health_change" %>
		<div class="w-fit text-center px-4 mx-auto mt-[-18px] bg-stone-800">
			<span class="font-bold"><%= @message.event_data[:game_user].character_name %></span> <%= @message.event_data[:game_user].current_health > @message.event_data[:previous_health] ? "was healed" : "took some damage" %>
		</div>
		<div class="flex flex-wrap justify-center w-full gap-x-3">
			<%= @message.event_data[:game_user].current_health > @message.event_data[:previous_health] ? "Healed by " : "Damaged by " %> <%= @message.event_data[:game_user].current_health - @message.event_data[:previous_health] %>
		</div>
	<% end %>
</div>
