<div class="<%= container_classes %>"  id="<%= dom_id(@message) %>">
	<% if @message.event? %>
		<%= render(EventMessageComponent.new(@message)) %>
	<% elsif @message.host_message? %>
		<% if inventory_message? %>
			<div data-controller="inventory">
				<%= format_inventory_html(@message.content) %>
			</div>
		<% else %>
			<%= simple_format(@message.content) %>
		<% end %>
	<% elsif @message.player_message? %>
		<%= @message.display_name %> /&gt; <%= @message.content %>
	<% end %>
</div>
