<div class="<%= container_classes %>"  id="<%= dom_id(@message) %>">
	<% if @message.host_message? %>
		<%= @message.content %>
	<% elsif @message.event? %>
		<%= render(EventMessageComponent.new(@message)) %>
	<% else %>
		<%= @message.display_name %> /&gt; <%= @message.content %>
	<% end %>
</div>
