<div id="<%= dom_id inventory_item %>">
  <p>
    <strong>Game user:</strong>
    <%= inventory_item.game_user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= inventory_item.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory_item.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory_item.description %>
  </p>

  <p>
    <strong>Ascii:</strong>
    <%= inventory_item.ascii %>
  </p>

</div>
