<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <% user.errors.each do |error| %>
      <div class="text-center notice blink"><%= error.full_message %></div>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :confirm %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Register", class: "button" %>
  </div>
<% end %>
