<%= form_with(model: user, data: { "turbo-frame": "_top" }) do |form| %>
  <% if user.errors.any? %>
    <% user.errors.each do |error| %>
      <div class="text-center notice blink"><%= error.full_message %></div>
    <% end %>
  <% end %>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, minlength: 10 %>
  </div>

  <div>
    <%= form.label :confirm %>
    <%= form.password_field :password_confirmation, minlength: 10 %>
  </div>

  <div>
    <%= form.submit "Register", class: "button" %>
  </div>
<% end %>
