<% controllers = (defined?(controllers) && controllers.is_a?(Array)) ? controllers.concat(["terminal"]) : ["terminal"] %>
<div id="terminalInput" 
     class="w-full h-full"
     data-controller="<%= controllers.join(" ") %>"
     <% if defined?(values) %>
      <% values.each do |value_controller, controller_values| %>
        <% controller_values.each do |value_hash| %>
          data-<%= value_controller %>-<%= value_hash.first %>-value="<%= value_hash.last %>"
        <% end %>  
      <% end %>
     <% end %>
>
  <div class="hidden text-white uppercase w-full before:content-['*** SYNTAX ERROR: ']"
       <% controllers.each do |controller| %>
         data-<%= controller %>-target="error"
       <% end %>
  ></div>

  <span class="inline-block uppercase after:content-['/>']"
        <% controllers.each do |controller| %>
          data-<%= controller %>-target="prompt"
        <% end %>
  >
    <%= prompt if defined?(prompt) %>
  </span>
  
  <div class="terminal-input inline-block min-w-[5px] uppercase caret-transparent relative outline-none align-bottom after:bg-terminal-green after:w-[12px] after:h-[24px] after:absolute after:bottom-[-1px] after:hidden after:animate-blink after:focus:inline-block focus-visible:outline-none after:focus-visible:outline-none"
       contenteditable="true"
       <% controllers.each do |controller| %>
         data-<%= controller %>-target="input"
       <% end %>
       <%
         actions = controllers.map do |c|
           if c == "terminal"
             "keydown->terminal#default_input_handling"
           else
             "keydown->#{c}#capture_input"
           end
         end.join(" ")
       %>
       data-action="<%= actions %>"
  ></div>

</div>
