<h2 class="text-center font-medium text-lg my-5">Welcome, Ye Adventurer</h2>

<%= render(NoticeComponent.new(message: notice)) %>

<% if !logged_in? %>
  <p><span class="font-bold">SUPER</span> Text Adventure combines the free-form joy of a session of D&D, with the interface limitations of the old text-based adventure games. Join a game as an adventurer, or host a game to create your own world...</p>

  <p class="text-center"><span class="font-bold">Type. Your. Story.</span></p>
  <%= ascii("knight") %>
<% else %>
  <p>Ye stand on a dirt path in the midst of a field. The sun is bright and the breeze pleasant.</p>
  <p>Ye see a TAVERN in the distance to the NORTH. Perhaps you should GO.</p>
  <%= ascii("small_village") %>
<% end %>


<% content_for :text_form do %>
  <% if logged_in? %>
    <%= render "/shared/terminal_input", prompt: "Welcome", controllers: ["home"] %>
  <% else %>
    <%= render "/sessions/form" %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= ascii("tall_knight") %>
<% end %>
