<h2 class="text-center">Welcome, Ye Adventurer</h2>

<p><b>SUPER</b> Text Adventure combines the free-form joy of a session of D&D, with the interface limitations of the old text-based adventure games. Join a game as an adventurer, or host a game to create your own world...</p>

<p class="text-center"><b>Type. Your. Story.</b></p>

<% if logged_in? %>
  <p>Ye see a TAVERN in the distance to the NORTH. Perhaps you should GO.</p>
  <%= ascii("small_village") %>
<% else %>
  <%= ascii("knight") %>
<% end %>


<% content_for :text_form do %>
  <% if logged_in? %>
    <%= render "/shared/terminal_input", prompt: "Welcome", controllers: ["home"] %>
  <% else %>
    <%= render "/sessions/form" %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= ascii("tall_knight") %>
<% end %>
