<%= turbo_frame_tag(:context) do %>
  <%= turbo_frame_tag(:context_content) do %>
    <% if game.current_context.present? %>
      <% if game.is_current_context_ascii?  %>
        <pre class="ascii">
          <%= game.current_context.html_safe %>
        </pre>
      <% else %>
        <p><strong><%= game.current_context %></strong></p>
      <% end %>
    <% else %>
      <%= game.description %>
    <% end %>
  <% end %>
  <% if game.host?(current_user) %>
    <div class="text-center">
      <%= link_to "Change Text/ASCII Art", game_edit_context_path(game_id: game.id), class: "button is-small", data: {"turbo-frame": "context"}, remote: true %>
    </div>
  <% end %>
<% end %>
