<%= form_with(model: game, data: { "turbo-frame": "_top" }) do |form| %>
  <%= form.hidden_field :created_by %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-group">
    <%= form.label :host_display_name, style: "display: block" %>
    <%= form.text_field :host_display_name, value: game.host_display_name || "Game Master" %>
  </div>

  <div class="form-group">
    <%= form.label :game_type, style: "display: block" %>
    <%= form.select :game_type, options_for_select(game_type_options, "freeform") %>
  </div>

  <div class="form-group">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(game_status_options, "closed") %>
  </div>

  <div class="form-group" style="display: none;">
    <%= form.label :is_friends_only do %>
      Friends Only?
    <% end %>
    <%= form.check_box :is_friends_only %>
  </div>

  <div class="form-group">
    <%= form.label :enable_hp do %>
      Enable HP
    <% end %>
    <%= form.check_box :enable_hp %>
  </div>

  <div class="form-group">
    <%= form.label :starting_hp, style: "display: block" %>
    <%= form.number_field :starting_hp, { value: (game.starting_hp || 10), min: 1 } %>
  </div>

  <div class="form-group">
    <%= form.label :max_players, style: "display: block" %>
    <%= form.number_field :max_players, { value: (game.max_players || 4), max: 5, min: 1 } %>
  </div>

  <div>
    <%= form.submit class: "button mt-5 mx-auto" %>
  </div>
<% end %>
