<div id="game-join-element-<%= game_number %>" class="game-list-card" data-game-id="<%= game.uuid %>">
  <div class="title"><strong>#<%= game_number %></strong> <%= game.name %></div>
  <% if game.description %>
    <div class="description">&gt; <em><%= game.description %></em></div>
  <% end %>
</div>
