<div class="card mx-auto mb-5">
  <div class="card-title has-text-weight-bold"><%= game.name %></div>
  <div class="card-body">
    <%= game.description %>
    <hr>
    <p class="is-size-6 is-uppercase">
      Players: <%= game.active_players&.count || 0 %> <span class="has-text-weight-bold">|</span> Status: <%= game.status&.titleize %>
    </p>
  </div>
  <div class="card-footer is-clearfix">
    <%= link_to game_path(game), method: :delete, class: "button is-small mb-0 is-pulled-left is-delete", data: { confirm: "Delete This Game?" } do %>
      Delete <span>X</span>
    <% end %>

    <%= link_to "Enter Game", game_path(game), class: "button is-small mb-0 is-pulled-right" %>
  </div>
</div>
