<h4 class="text-center w-100">Create a Game</h4>

<div class="container">
  <%= simple_form_for @game do |f| %>
    <%= f.input :name, label: 'Game Name' %>
    <%= f.input :mode, collection: options_for_game_mode, selected: :classic, as: :radio_buttons %>
    <%= f.input :description %>
    <%= f.input :max_players, value: 4 %>
    <%= f.input :is_friends_only, label: 'Friends Only?' %>
    <%= f.submit 'Starteth Thine Game', class: 'btn w-100' %>
  <% end %>
</div>
