<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @game.game_type %>
</p>

<p>
  <strong>Users:</strong>
  <%= @game.users_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Opened at:</strong>
  <%= @game.opened_at %>
</p>

<p>
  <strong>Closed at:</strong>
  <%= @game.closed_at %>
</p>

<p>
  <strong>Is friends only:</strong>
  <%= @game.is_friends_only %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @game.max_players %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
