<%= turbo_stream_from(@game, :messages) %>
<%= turbo_stream_from(@game, :state) %>
<% if @game.host?(current_user) %>
  <%= turbo_stream_from(@game, :host_players) %>
<% else %>
  <%= turbo_stream_from(@game, :players) %>
<% end %>

<div id="message-content-wrapper" class="invisible">
  <%= render "/messages/pager", game: @game, pagy: @pagy %>

  <div id="game-messages" class="relative">
    <%= turbo_frame_tag(:messages) do %>
      <% @messages.reverse.each do |message| %>
        <%= render "/messages/message", message: message %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :text_form do %>
  <%= render(TerminalInputComponent.new(prompt: "", stimulus_controllers: ["game"], stimulus_values: { "game-id": @game.id, "game-user-id": @game.host?(current_user) ? :host : @game.game_user(current_user)&.id })) %>
<% end %>

<% content_for :sidebar do %>
  <h3 class="text-center mb-2"><strong><%= @game.name %></strong></h3>
  
  <div class="mb-5">
    <%= render "current_context", game: @game %>
  </div>

  <h4 class="text-center mb-0 mt-3">PLAYERS</h4>
  <% if @game.host?(current_user) %>
    <div class="grid grid-cols-2 mb-3">
      <%= form_with(scope: :game_user, url: game_users_mute_or_unmute_path(game_id: @game.id), method: :patch) do |form| %>
        <%= form.hidden_field :can_message, value: false %>
        <%= form.submit class: "button w-full text-sm", value: "Mute All" %>
      <% end %>
      <%= form_with(scope: :game_user, url: game_users_mute_or_unmute_path(game_id: @game.id), method: :patch) do |form| %>
        <%= form.hidden_field :can_message, value: true %>
        <%= form.submit class: "button w-full text-sm", value: "Unmute All" %>
      <% end %>
    </div>
  <% end %>
  <%= render "players", game_users: @game.game_users.order(:id), for_host: @game.host?(current_user) %>
<% end %>

<% content_for :loading_modal do %>
  <%= render "/shared/loading_modal", options: { id: "loading-modal" } do %>
    <h3 class="text-lg text-center font-medium leading-6 text-terminal-green" ><%= loading_message %><div class="animate-spin inline-block ml-3">|</div></h3>
  <% end %>
<% end %>
