<div id="game-messages" data-controller="scroll">
  <%= turbo_stream_from(@game, :messages) %>
  <%= turbo_frame_tag(:messages, data: { "scroll-target": "container" }) do %>
    <% @game.messages.latest.each do |message| %>
      <%= render "/messages/message", message: message %>
    <% end %>
  <% end %>
</div>

<% content_for :text_form do %>
  <%= render "/shared/terminal_input", prompt: "", controllers: ["game"], values: { game: [ [ :game, @game.id ], [:"game-user", @game.game_user(current_user)&.id ] ] } %>
<% end %>

<% content_for :sidebar do %>
  <h3 class="text-center"><strong><%= @game.name %></strong></h3>
  <div class="current-context">
    <%= turbo_stream_from(@game, :state) unless @game.host?(current_user) %>
    <%= render "current_context", game: @game %>
  </div>

  <%= render "players", game_users: @game.game_users %>
<% end %>
