<%= form_with(model: character) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.text_field :race %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :hair_color %>
    <%= form.text_field :hair_color %>
  </div>

  <div class="field">
    <%= form.label :eye_color %>
    <%= form.text_field :eye_color %>
  </div>

  <div class="field">
    <%= form.label :backstory %>
    <%= form.text_area :backstory %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
