<nav class="col-span-3 md:col-span-2 flex items-center gap-1 text-sm">
  <%= link_to "Home", root_path, class: "button px-2 py-0" %>
  <% if logged_in? %>
    <%= link_to "Tavern", games_path, class: "button px-2 py-0" %>
    <%= link_to "About", about_path, class: "button px-2 py-0" %>
    <%= link_to "Logout", logout_path, class: "button px-2 py-0" %>
    <% if current_user.is_owner? %>
      <%= link_to "Invites", setup_tokens_path, class: "button px-2 py-0" %>
      <%= link_to "Worlds", worlds_path, class: "button px-2 py-0" %>
    <% end %>
  <% end %>
</nav>

<div class="col-span-3 md:col-span-1 text-center md:text-right text-sm pt-1">
  &copy; <%= Date.today.year == 2022 ? "2022" : "2022 - #{Date.today.year}" %> <a href="https://richardcagle.dev">Richard Cagle</a>
</div>
