<h3 class="text-center mb-0">Ye Olde Tavern</h3>
<%= render "/ascii/tavern" %>
<p>You see many tables. Some contain adventurers. Others sit empty.</p>
<p class="mb-0">You may...</p>
<ul>
  <li><strong>LIST GAMES</strong> to see a list of joinable games</li>
  <li><strong>START GAME</strong> to start a new adventure</li>
</ul>

<% content_for :text_form do %>
  <%= render "/shared/terminal_input", prompt: "Tavern", controllers: ["tavern"] %>
<% end %>


<% content_for :sidebar do %>
  <% if !@games.nil? %>
    <ul>
      <% @games.each do |game| %>
        <li><%= game.name %></li>
      <% end %>
    </ul>
  <% elsif @game.present? %>
    <turbo-frame id="<%= dom_id(@game) %>">
      <%= render "/games/form", game: @game %>
    </turbo-frame>
  <% else %>
    <%= render '/ascii/bricks' %>
  <% end %>
<% end %>

