<!DOCTYPE html>
<html>
  <head>
    <title>Super Text Adventure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= APP_THEME %>">
    <%= render 'layouts/nav' %>
    <div class="app-container p-2">
      <%= yield %>
    </div>
  </body>
</html>
