<!DOCTYPE html>
<html class="w-[100%] h-[100%]">
  <head>
    <title>Super Text Adventure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <% # stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="text-base p-6 bg-stone-800 text-[#8fe86b] flex flex-col h-full w-full">

      <div class="grid grid-cols-2 pb-5 mb-5 border-b-2 border-b-terminal-green">
        <%= render "header" %>
      </div>

      <div class="grow grid grid-cols-2">
        <div>
          <div class="game-message-area styled-scrollbars">
            <%= yield %>
          </div>

          <div class="game-message-form styled-scrollbars">
            <turbo-frame id="text_form">
              <%= yield :text_form %>
            </turbo-frame>
          </div>
        </div>

        <div class="game-sidebar styled-scrollbars">
          <turbo-frame id="sidebar">
            <%= yield :sidebar %>
          </turbo-frame>
        </div>
      </div>
      
      <div class="grid grid-cols-2"><%= render "footer" %></div>

  </body>
</html>
