<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>World Editor - Super Text Adventure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script data-site="NTUSEIK" src="https://analytics.richardcagle.dev/script.js" defer></script>
  </head>

  <body class="text-base bg-stone-800 text-terminal-green h-full overflow-hidden">
    <%= yield %>
  </body>
</html>
